<div class="outer">
  <div class="inner">
    <h1><span>Restaurent</span> Tips Calculator</h1>
    <label>Bill Amount</label>
    <input type="text" id="bamount"><br>
    <label>Tips Percentage</label>
    <input type="text" id="tpercentage"><br>
    <label>Tips Amount</label>
    <input type="text" disabled id="ttamount"><br>
    <label>Total Amount</label>
    <input type="text" disabled id="tbamount"><br>
    <button class="btn btn-primary" onclick="Bill()">Thank <span>you</span></button>
  </div>
</div>



@import url("https://fonts.googleapis.com/css2?family=Fondamento:ital@1&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.postimg.cc/9Xx9XswV/Opera-Snapshot-2020-07-14-143351-www-freepik-com.png")
      no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Fondamento", cursive;
}
.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.inner {
  position: relative;
  width: 400px;
  height: auto;
  border-radius: 20px;
  padding: 30px;
  background: rgba(255, 255, 255.6);
  overflow: hidden;
}
/* .inner:before{
  position: absolute;
  content: "";
  width:52%;
  height: 100%;
  background:rgba(0,0,0,0.1);
  left:-1px;
  top:0px;
} */
h1 {
  text-align: center;
  font-size: 2em;
  text-transform: capitalize;
  letter-spacing: 3px;
}
span {
  color: #2ecc71;
  transition: all 1s ease-in;
  /*   width: 100px;
  background: #000;
  border-radius:10px;
  padding: 3px 10px;
  box-shadow:0px 10px 10px rgba(0,0,0,.5);
   */
}
label {
  font-size: 1em;
  letter-spacing: 2px;
  display: block;
  margin-top: 40px;
  padding-bottom: 10px;
}
.inner input {
  width: 400px;
  padding: 10px 3px;
  font-size: 1.2em;
  font-family: cursive;
  border: 2px solid #fff;
  border-radius: 7px;
  box-shadow: inset 0 2px 20px;
  outline: none;
}

button {
  padding: 20px 20px;
  margin-top: 30px;
  font-size: 15px;
  letter-spacing: 3px;
  font-family: "Fondamento", cursive;
  font-weight: bold;
  background: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  text-transform: uppercase;
  outline: none;
}
@media (max-width: 768px;) {
  position: relative;
  width: 200px;
  height: auto;
  border-radius: 20px;
  padding: 0px;
  background: rgba(255, 255, 255.6);
  overflow: hidden;
}





const Bill = () => {
  let billamount = document.getElementById("bamount").value;
  let tipercentage = document.getElementById("tpercentage").value;
  let tip = billamount * (tipercentage / 100);
  let total = tip + Number(billamount);
  document.getElementById("ttamount").value = tip;
  document.getElementById("tbamount").value = total;
};
